 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 811px;
}

.u-section-1 .u-image-1 {
  height: 661px;
  width: 1012px;
  filter: brightness(0.9);
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 100px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 476px;
  min-height: 597px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -629px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 32px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-image-1 {
    height: 622px;
    width: 778px;
    object-position: 100% 50%;
    margin-top: 130px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -609px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-1 .u-image-1 {
    height: 615px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 96px;
    object-position: 60.57% 50%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 56px;
    min-height: 474px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-1 .u-image-1 {
    height: 326px;
    margin-top: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 50px;
    min-height: 545px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 3px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 21px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-image-1 {
  height: 804px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 9.62% 60.64%;
  width: 1045px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 462px;
  min-height: 748px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -772px auto 75px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 38px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 51px 95px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-image-1 {
    height: 785px;
    width: 785px;
    object-position: 39.04% 60.64%;
  }

  .u-section-2 .u-group-1 {
    margin-top: -766px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-2 .u-image-1 {
    height: 549px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    object-position: 0% 60.64%;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 48px;
    min-height: 561px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-2 .u-image-1 {
    height: 440px;
    object-position: 70.13% 60.64%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 683px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-image-1 {
  height: 740px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 74.24% 60.64%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 994px;
  margin: 83px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 462px;
  min-height: 684px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -712px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 38px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 0 95px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-3 .u-image-1 {
    height: 775px;
    width: 845px;
    margin-top: 50px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -729px;
    margin-bottom: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-3 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    object-position: 10.53% 60.64%;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 50px;
    min-height: 571px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-3 .u-image-1 {
    height: 440px;
    object-position: 26.03% 60.64%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 659px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 818px;
}

.u-section-4 .u-image-1 {
  height: 699px;
  width: 1031px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 462px;
  min-height: 657px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -678px auto 60px 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 82px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-image-1 {
    height: 695px;
    width: 806px;
    margin-top: 51px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -676px;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-4 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 458px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-4 .u-image-1 {
    height: 458px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 546px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 906px;
}

.u-section-5 .u-image-1 {
  height: 740px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 74.24% 60.64%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 1045px;
  margin: 83px auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 462px;
  min-height: 684px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -712px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 38px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 37px 95px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-5 .u-image-1 {
    height: 721px;
    width: 834px;
    margin-top: 50px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -702px;
    margin-bottom: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-5 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 51px;
    min-height: 442px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-5 .u-image-1 {
    height: 415px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 688px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 818px;
}

.u-section-6 .u-image-1 {
  height: 699px;
  width: 1049px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 60px 0 0 auto;
}

.u-section-6 .u-group-1 {
  width: 462px;
  min-height: 657px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -678px auto 60px 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 82px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-6 .u-image-1 {
    height: 715px;
    width: 816px;
    margin-top: 51px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -686px;
    margin-bottom: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-6 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 452px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-6 .u-image-1 {
    height: 440px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    min-height: 580px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 25px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 906px;
}

.u-section-7 .u-image-1 {
  height: 740px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 74.24% 60.64%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 987px;
  margin: 83px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 462px;
  min-height: 684px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -712px 0 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 23px 38px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 68px 95px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 53px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-7 .u-image-1 {
    height: 786px;
    width: 839px;
    object-position: 100% 60.64%;
    margin-top: 50px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -735px;
    margin-bottom: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-7 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 50px;
    min-height: 542px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-7 .u-image-1 {
    height: 460px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    min-height: 563px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 24px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 894px;
}

.u-section-8 .u-image-1 {
  height: 793px;
  width: 1049px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 100% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

.u-section-8 .u-group-1 {
  width: 462px;
  min-height: 758px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -776px auto 69px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-8 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 5px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 33px 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-8 .u-image-1 {
    height: 834px;
    width: 821px;
    object-position: 27.41% 50%;
  }

  .u-section-8 .u-group-1 {
    margin-top: -796px;
    margin-bottom: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-8 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-group-1 {
    min-height: 607px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1384px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 409px;
    object-position: 58% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    min-height: 874px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 27px;
    margin-right: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 813px;
}

.u-section-9 .u-image-1 {
  height: 653px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  object-position: 100% 60.64%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 995px;
  margin: 50px auto 0 0;
}

.u-section-9 .u-group-1 {
  width: 462px;
  min-height: 584px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  --animation-custom_in-opacity: 0;
  margin: -619px 0 60px auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 23px 38px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
  margin: 43px 95px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 53px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-9 .u-image-1 {
    height: 690px;
    width: 837px;
  }

  .u-section-9 .u-group-1 {
    margin-top: -637px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-9 .u-image-1 {
    height: 631px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    margin-top: 0;
    min-height: 477px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-group-1 {
    min-height: 502px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-9 .u-image-1 {
    height: 403px;
    object-position: 72.18% 60.64%;
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-group-1 {
    min-height: 633px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 26px;
  }
}.div1{
padding-right: 30px;
}
.div2{
margin-left: 50px;
}